<script src="static/js/lang.js"></script>
<h3 data-l10n-id="join-members-title"></h3>
<div>

  <table class="table table-condensed">
    <thead><tr><td>#</td><td>Name</td></tr></thead>
    <tr class="active"><td>01.</td><td>Evaggelos Balaskas</td></tr>
    <tr class="active"><td>02.</td><td>Pierros Papadeas</td></tr>
    <tr class="active"><td>03.</td><td>Nikos Roussos</td></tr>
    <tr class="active"><td>04.</td><td>Eleftherios Kosmas</td></tr>
    <tr class="active"><td>05.</td><td>Giorgos</td></tr>
    <tr class="active"><td>06.</td><td>George Kargiotakis</td></tr>
    <tr class="active"><td>07.</td><td>Vasilis Tsiligiannis</td></tr>
    <tr class="active"><td>08.</td><td>Stefanos Kornilios Mitsis Poiitidis</td></tr>
    <tr class="active"><td>09.</td><td>Dimitris Tomaras</td></tr>
    <tr class="active"><td>10.</td><td>Malina Tz</td></tr>
    <tr class="active"><td>11.</td><td>Ioannis</td></tr>
    <tr class="active"><td>12.</td><td>Alexandros Chronopoulos</td></tr>
    <tr class="active"><td>13.</td><td>Sofoklis Goumas</td></tr>
    <tr class="active"><td>14.</td><td>Tasos</td></tr>
    <tr class="active"><td>15.</td><td>Giannis Giannelos</td></tr>
    <tr class="active"><td>16.</td><td>Manthos Papamatthaiou</td></tr>
    <tr class="active"><td>17.</td><td>Konstantina Papadea</td></tr>
    <tr class="active"><td>18.</td><td>Lenio Litra</td></tr>
    <tr class="active"><td>19.</td><td>Agisilaos Zisimatos</td></tr>
    <tr class="active"><td>20.</td><td>Manos Theodoridis</td></tr>
    <tr class="active"><td>21.</td><td>Yannis Belias</td></tr>
    <tr class="active"><td>22.</td><td>Vaggelis Diamantis</td></tr>
    <tr class="active"><td>23.</td><td>Dimitris Lianos</td></tr>
    <tr class="active"><td>24.</td><td>Dorothea</td></tr>
    <tr><td>25.</td><td>Nick Th</td></tr>
    <tr class="active"><td>26.</td><td>Alfredos Damkalis</td></tr>
    <tr class="active"><td>27.</td><td>Apostolos Masiakos</td></tr>
    <tr class="active"><td>28.</td><td>Alexandros Tsourapas</td></tr>
    <tr><td>29.</td><td>Spyros Stamoulos</td></tr>
    <tr class="active"><td>30.</td><td>Achilleas Pipinellis</td></tr>
    <tr><td>31.</td><td>Thanasis Tomaras</td></tr>
  </table>

  <small data-l10n-id="join-members-footer"></small>
</div>
