<script src="static/js/lang.js"></script>
<h3>Projects</h3>
<div>

  <p data-l10n-id="projects-text"></p>

  <!-- 3D Printing -->
  <div class="project panel panel-default">
    <div class="panel-body">
      <div class="project-title">
        <img class="project-img" src="https://www.hackerspace.gr/wiki/images/3DPrinting.png" alt="3DPrinting">
        <h3>3D Printing</h3>
      </div>
      <div class="project-text">
        Many 3D printers in the space. Many ideas yet to be printed. Design, print, share, iterate.
      </div>
      <div class="project-links">
        <ul class="nav navbar-nav">
          <li class="social">
            <a href="https://github.com/hsgr/3dprinting" target="_blank">
              <span class="fa fa-github" title="github"></span>
            </a>
          </li>
          <li class="social">
            <a href="https://media.hackerspace.gr/3D%20Printing/" target="_blank">
              <span class="fa fa-picture-o" title="media"></span>
            </a>
          </li>
          <li class="social">
            <a href="" target="_blank">
              <span class="fa fa-file-text-o" title="wiki"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- BotCast -->
  <div class="project panel panel-default">
    <div class="panel-body">
      <div class="project-title">
        <img class="project-img" src="https://www.hackerspace.gr/wiki/images/BotCast.png" alt="BotCast">
        <h3>BotCast</h3>
      </div>
      <div class="project-text">
        A podcast recorded in a non periodical time, in the space, by anyone available.
        About all things Open Source.
      </div>
      <div class="project-links">
        <ul class="nav navbar-nav">
          <li class="social">
            <a href="https://www.hackerspace.gr/wiki/index.php?title=BotCasts&action=feed&feed=atom" target="_blank">
              <span class="fa fa-rss" title="feed"></span>
            </a>
          </li>
          <li class="social">
            <a href="https://www.hackerspace.gr/wiki/Category:BotCast" target="_blank">
              <span class="fa fa-headphones" title="listen"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Cryptoparty -->
  <div class="project panel panel-default">
    <div class="panel-body">
      <div class="project-title">
        <img class="project-img" src="https://www.hackerspace.gr/wiki/images/Cryptoparty.png" alt="Cryptoparty">
        <h3>Cryptoparty</h3>
      </div>
      <div class="project-text">
        A decentralized, global initiative to introduce the most basic cryptography
        software and the fundamental concepts of their operation to the general public.
      </div>
      <div class="project-links">
        <ul class="nav navbar-nav">
          <li class="social">
            <a href="https://www.cryptoparty.in/athens" target="_blank">
              <span class="fa fa-globe" title="website"></span>
            </a>
          </li>
          <li class="social">
            <a href="https://www.hackerspace.gr/wiki/Category:Cryptoparty" target="_blank">
              <span class="fa fa-file-text-o" title="wiki"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Food Hacking -->
  <div class="project panel panel-default">
    <div class="panel-body">
      <div class="project-title">
        <img class="project-img" src="https://www.hackerspace.gr/wiki/images/Foodhackinglogo.jpg" alt="Food Hacking">
        <h3>Food Hacking</h3>
      </div>
      <div class="project-text">
        Hack recipes. Hack Food. Hack drinks. Experiment with new things and new tastes.
        Experiment with food and technology.
      </div>
      <div class="project-links">
        <ul class="nav navbar-nav">
          <li class="social">
            <a href="https://media.hackerspace.gr/Food%20Hacking/" target="_blank">
              <span class="fa fa-picture-o" title="media"></span>
            </a>
          </li>
          <li class="social">
            <a href="https://www.hackerspace.gr/wiki/Category:FoodHacking" target="_blank">
              <span class="fa fa-file-text-o" title="wiki"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Free Software Meetup
  <div class="project panel panel-default">
    <div class="panel-body">
      <div class="project-title">
        <img class="project-img" src="https://www.hackerspace.gr/wiki/images/Fsfe.png" alt="Free Software Meetup">
        <h3>Free Software Meetup</h3>
      </div>
      <div class="project-text">
        A (usually) monthly meetup to talk around Free Software news and projects. Most meetups
        focus on a specific theme.
      </div>
      <div class="project-links">
        <ul class="nav navbar-nav">
          <li class="social">
            <a href="http://wiki.fsfe.org/groups/Athens?highlight=%28\bCategoryFellowshipGroup\b%29" target="_blank">
              <span class="fa fa-globe" title="website"></span>
            </a>
          </li>
          <li class="social">
            <a href="https://www.hackerspace.gr/wiki/Category:Free_Software_Meetup" target="_blank">
              <span class="fa fa-file-text-o" title="wiki"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>-->

  <!-- Medialibre -->
  <div class="project panel panel-default">
    <div class="panel-body">
      <div class="project-title">
        <img class="project-img" src="https://www.hackerspace.gr/wiki/images/Medialibre-icon.png" alt="Medialibre">
        <h3>Medialibre</h3>
      </div>
      <div class="project-text">
        Medialibre is a curated website of articles around freedom, rights, equality, technology,
        science and politics. All content is in Greek.
      </div>
      <div class="project-links">
        <ul class="nav navbar-nav">
          <li class="social">
            <a href="https://medialibre.net/" target="_blank">
              <span class="fa fa-globe" title="website"></span>
            </a>
          </li>
          <li class="social">
            <a href="https://github.com/hsgr/medialibre" target="_blank">
              <span class="fa fa-github" title="github"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- SatNOGS -->
  <div class="project panel panel-default">
    <div class="panel-body">
      <div class="project-title">
        <img class="project-img" src="https://www.hackerspace.gr/wiki/images/Satnogs-icon.png" alt="SatNOGS">
        <h3>SatNOGS</h3>
      </div>
      <div class="project-text">
        SatNOGS is an open source ground station and network, optimized for modularity, built from
        readily available and affordable tools and resources.
      </div>
      <div class="project-links">
        <ul class="nav navbar-nav">
          <li class="social">
            <a href="https://satnogs.org/" target="_blank">
              <span class="fa fa-globe" title="website"></span>
            </a>
          </li>
          <li class="social">
            <a href="https://github.com/satnogs/" target="_blank">
              <span class="fa fa-github" title="github"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
