<script src="static/js/lang.js"></script>
<h3>
  Services
  <div class="uptime">
    <a href="https://status.hackerspace.gr/" target="_blank"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
  </div>
</h3>
<div>

  <p data-l10n-id="services-text"></p>

  <!-- Etherpad -->
  <div class="project panel panel-default">
    <div class="panel-body">
      <div class="project-title">
        <img class="project-img" src="https://www.hackerspace.gr/wiki/images/Etherpad-icon.png" alt="Etherpad">
        <h3>Etherpad</h3>
      </div>
      <div class="project-text">
        Etherpad is a highly customizable Open Source online editor providing collaborative editing
        in really real-time. We host our own etherpad instance to be used by teams and projects that
        live in our space.
      </div>
      <div class="project-links">
        <ul class="nav navbar-nav">
          <li class="social">
            <a href="https://pad.hackerspace.gr/" target="_blank">
              <span class="fa fa-external-link" title="website"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Jabber -->
  <div class="project panel panel-default">
    <div class="panel-body">
      <div class="project-title">
        <img class="project-img" src="https://www.hackerspace.gr/wiki/images/Xmpp.png" alt="Jabber">
        <h3>Jabber</h3>
      </div>
      <div class="project-text">
        Jabber (or xmpp) is an open realtime communication protocol, that many people use to chat.
        Our instance, gnu.gr, was created with users privacy in mind and it's open for everyone to use.
      </div>
      <div class="project-links">
        <ul class="nav navbar-nav">
          <li class="social">
            <a href="https://gnu.gr/" target="_blank">
              <span class="fa fa-external-link" title="website"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Librenet -->
  <div class="project panel panel-default">
    <div class="panel-body">
      <div class="project-title">
        <img class="project-img" src="https://www.hackerspace.gr/wiki/images/Mypod.png" alt="Librenet">
        <h3>Diaspora</h3>
      </div>
      <div class="project-text">
        Diaspora is a distributed social network. Installations of the software form nodes (termed
        "pods") which make up the distributed Diaspora social network. Our pod, librenet.gr, is just
        a part of this network.
      </div>
      <div class="project-links">
        <ul class="nav navbar-nav">
          <li class="social">
            <a href="https://librenet.gr/" target="_blank">
              <span class="fa fa-external-link" title="website"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
