<script src="static/js/lang.js"></script>
<h3 data-l10n-id="support-title"></h3>
<div>
  <p data-l10n-id="support-text"></p>

  <h3 data-l10n-id="support-donations-title"></h3>
  <p>
    <i class="fa fa-paypal"></i> <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=P8WSQXEJBXQ7G" target="_blank">Paypal</a><br>
    <i class="fa fa-btc"></i> <a href="https://blockchain.info/address/19x3tczRmQAy5grGxSkVmLU7gNisgT8voZ" target="_blank">Bitcoin</a>
  </p>

  <h3 data-l10n-id="support-equipment-title"></h3>
  <p data-l10n-id="support-equipment-text"></p>

  <h3 data-l10n-id="support-supporters-title"></h3>

  <table class="table table-condensed supporters">
    <thead><tr><td>Name</td><td>Support</td></tr></thead>
    <tr><td><a href="https://librespacefoundation.org/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Lsf.jpg"></a></td><td>Donation</td></tr>
    <tr><td><a href="https://www.grnet.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Grnet.jpg"></a></td><td>Hosting Services</td></tr>
    <tr><td><a href="https://www.tophost.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Tophost.png"></a></td><td>Hosting Services</td></tr>
    <tr><td><a href="https://www.e-food.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Efood.jpg"></a></td><td>Food Sampling</td></tr>
    <tr><td><a href="http://www.mastoremata.gr/"><img class="supporter-img" src="https://www.hackerspace.gr/wiki/images/Mastoremata.png"></a></td><td>Magazine Subscription</td></tr>
  </table>

  <small data-l10n-id="support-supporters-footer"></small>
</div>
